name: CI Python
on:
  pull_request:
  merge_group:
jobs:
  ci-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv sync --all-groups
      - name: Check requirements
        run: |
          . .venv/bin/activate
          make pip-compile
      - name: Run linter and formatter
        run: |
          . .venv/bin/activate
          make lint-python
